//
   Created by jeffersonwu on 4/1/16.

extends ../layout

block content
    h2=title
    h3 Welcome to #{title}

    p #{token}
    p#myToken=token

    script().
        window.addEventListener('load', function(event){
            console.log('this is working');
            console.log('this is working x2');
        });

    each item in myObject
        div
            p #{item}